

themes {
		 neon {
			bg "#333333"
			fg "#dfdfdf"
			red "#ee5396"
			blue "#4BFF36"
			green "#74FAFC"
			yellow "#FFEB01"
			magenta "#E92EFB"
			orange "#FF5C00"
			cyan "#33b1ff"
			black "#333333"
			white "#b6b8bb"
		}
}

theme "neon"
default_layout "main"
simplified_ui true
pane_frame_style "full"

ui {
		pane_frames {
				rounded_corners true
		}
}

keybinds {
    normal clear-defaults=true {
        // tmux
        bind "Ctrl f" { SwitchToMode "Tmux"; }
        unbind "Ctrl b"
        // general stuff
				bind "Alt a" { Search "up"; }
        bind "Alt n" { NewPane; }
				bind "Alt d" { NewPane "Down"; }
				bind "Alt r" { NewPane "Right"; }
        bind "Alt x" { CloseFocus; SwitchToMode "Normal"; }
        bind "Alt w" { ToggleFloatingPanes;}
        bind "Alt t" { NewTab; }
        bind "Alt h" { MoveFocusOrTab "Left"; }
        bind "Alt l" { MoveFocusOrTab "Right"; }
        bind "Alt j" { MoveFocus "Down"; }
        bind "Alt k" { MoveFocus "Up"; }
        bind "Alt Left" { MoveTab "Left"; }
        bind "Alt Right" { MoveTab "Right"; }
        bind "Alt +" { Resize "Increase"; }
        bind "Alt =" { Resize "Increase"; }
        bind "Alt -" { Resize "Decrease"; }
    }

    tmux clear-defaults=true {
        bind "Ctrl f" { Write 2; SwitchToMode "Normal"; }
        bind "Esc" { SwitchToMode "Normal"; }
        bind "g" { SwitchToMode "Locked"; }
        bind "p" { SwitchToMode "Pane"; }
        bind "t" { SwitchToMode "Tab"; }
        bind "n" { SwitchToMode "Resize"; }
        bind "h" { SwitchToMode "Move"; }
        bind "s" { SwitchToMode "Scroll"; }
        bind "o" { SwitchToMode "Session"; }
        bind "f" {
					LaunchOrFocusPlugin "file:~/.config/zellij/plugins/room.wasm" {
							floating true
							ignore_case true
							quick_jump true
        }
				}
        bind "q" { Quit; }
    }

		pane {
				bind "d" { NewPane "Down"; SwitchToMode "Normal"; }
				bind "r" { NewPane "Right"; SwitchToMode "Normal"; }
		}
}


plugins {
    tab-bar { path "tab-bar"; }
    status-bar { path "status-bar"; }
    compact-bar { path "compact-bar"; }
    session-manager { path "session-manager"; }
}

osc8_hyperlinks true

// stacked_pane_list true

// mouse event
mouse_hover_effects false

// informations
show_release_notes false
show_startup_tips false
mouse_hover_tips false

// web server
// using `tailscale cert`
web_server true // always start the web server on Zellij startup (default: false)
web_server_ip "0.0.0.0" // the IP to listen on, 0.0.0.0 is all (default: 127.0.0.1)
web_server_port 443 // the port to listen on (default: 8082)
web_server_cert "mac-air-m1.tail5cbe6b.ts.net.crt" // SSL certificate
web_server_key "mac-air-m1.tail5cbe6b.ts.net.key" // SSL private key
enforce_https_on_localhost true // whether to enforce an https certificate being present also when listening on localhost (default: false)
